html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: caption;
  background-color: rgb(250, 250, 250);
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin-block-start: 1em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

ul li p {
  margin-top: 0;
}

.note-type--other .note-tools {
  background-color: #0e68b7;
}

.note-type--review .note-tools {
  background-color: #902f72;
}

.note-type--interesting .note-tools {
  background-color: #fb6c0e;
}

ul .note-type--other:hover .note-content {
  background-color: #e8f4fd;
}

ul .note-type--review:hover .note-content {
  background-color: #f8e8f3;
}

ul .note-type--interesting:hover .note-content {
  background-color: #fff0e7;
}

.note-tags span {
  margin-right: .4em;
  color: #999;
  transition: color .2s ease-in;
  cursor: pointer;
}

.note-content {
  flex: 1;
}

.note-content:hover {
  cursor: pointer;
}

.note-content p {
  padding: 0 8px;
  margin: 0;
}

.note-tools {
  padding: 2px;
}

.note-tools svg {
  fill: #FFF;
  transition: fill .2s ease-in;
}

.note-tools a {
  cursor: pointer;
  border-bottom: 1px dotted #FFF;
  width: 20px;
  padding: 4px 0;
  display: block;
}

.note-tools a:last-child {
  border: 0 none;
}

.note-tools a svg {
  width: inherit;
  height: inherit;
}

.note-tools--edit:hover svg {
  fill: #a23eff;
}

.note-tools--delete:hover svg {
  fill: #d60427;
}

.note-tags span:hover,
.note-tags span.selected {
  color: #333;
}

a.note-tools--fold,
svg.less {
  display: none;
}

.folded a.note-tools--fold,
.folded.open a.note-tools--fold {
  display: block;
}

svg.more {
  display: block;
}

.folded.open svg.less {
  display: block;
}

.folded.open svg.more {
  display: none;
}

.folded {
  max-height: calc(16px * 10);
  overflow: hidden;
}

.folded.open {
  max-height: 100%;
}

.info {
  background-color: #DDD;
  padding: 8px 2px;
  box-shadow: 0px 0px 8px #999;
}

body {
  overflow: hidden;
}

ul.notes {
  height: 100vh;
  overflow: auto;
}